#projects {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 5em;
  justify-content: center;
  align-content: space-evenly;
  .container{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    border-radius: 10px;
    width: 90vw;
    height: 85vh;
  }
  .project-block{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 8px;
    grid-auto-flow: column;

  }
  .project-screenshot{
    object-fit: cover;
    height: 20vh;
    width: 20vw;
  }
}
