#projects {
  position: relative;
  display: flex;
  height: 100vh;
  padding: 5em;
  .project-block{
    background-color: rgba(0, 0, 0, 0.8);
    width: 90vw;
    height: 85vh;
    border-radius: 10px;
    justify-content: center;
    align-content: space-evenly;
  }
  .project-screenshot{
    height: 20vh;
    width: 20vw;
  }
}
