header {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  height: 100vh;
  width: 100vw;
  color: white;
}

.ball{
  background-size: cover;
  height:20em;
  width: 20em;
  border: #2c2c2c 1px solid;
  border-radius: 100%;
}
.name-surname{
  justify-self: start;
}
